body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

#status-container p {
    margin: 5px 0;
    font-size: 1.1em;
}

/* Layout container for controls and video side by side */
#main-layout {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    margin-top: 30px;
    flex-wrap: wrap;
}

/* Controls styling */
#controls {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 300px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    align-self: stretch;
    max-width: 300px;
}

#toggle-options {
    background-color: #007bff;
}

#toggle-options:hover {
    background-color: #0056b3;
}

#dropdown-arrow.open {
    transform: rotate(180deg);
}

#options-dropdown {
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: white;
    padding: 0px 15px;
    width: 100%;
    box-sizing: border-box;
    max-height: 300px;
    opacity: 1;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    overflow: hidden;
    max-width: 200px;
}

#options-dropdown.hidden {
    max-height: 0;
    opacity: 0;
    padding-top: 0;
    padding-bottom: 0;
    visibility: hidden;
}

#options-dropdown label {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
}

#start-btn {
    background-color: #28a745;
}

#start-btn:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
}

#camera-select{
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#resolution-select {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#framerate-slider {
    width: 100%;
    max-width: 500px;
}

/* Video container and canvas */
#video-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 640px;     /* prevents shifting when resolution changes */
    min-height: 480px;
}

#videoCanvas {
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 640px;
    height: 480px;
    object-fit: contain;
}
