<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unknown Faces Audit</title>
    <link rel="stylesheet" href="/static/css/auditor.css?v=0.08">
    <link rel="stylesheet" href="/static/css/styles.css?v=0.08">
    <script type="module" src="/static/js/auditor.js"></script>
</head>
<body>
    {% include "nav.html" %}
    <h1>Unknown Faces Audit</h1>
    <div id="unknown-faces-container"></div>
</body>
</html>