<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Facial Recognition Client</title>
    <link rel="stylesheet" href="/static/css/styles.css?v=0.07" />
</head>
<body>
    <h1>Client is Running</h1>

    <!-- Container for controls and video side by side -->
    <div id="main-layout">
        <div id="controls">
            <button id="toggle-options">Options ▼</button>
            <div id="options-dropdown">                
                <label for="camera-select" id="cam-label">Camera:</label>
                <select id="camera-select">
                    <option value="">Select a camera</option>
                    {%if cameras%}
                        {%for handler_id in cameras%}
                            <option value="all@{{handler_id}}">All cameras at {{handler_id}}</option>
                            {%for camera_id in cameras[handler_id]%}
                                <option value="{{camera_id}}@{{handler_id}}">Camera #{{camera_id}}</option>
                            {%endfor%}
                        {%endfor%}
                    {%endif%}
                </select>

                <label for="resolution-select" id="res-label">Resolution:</label>
                <select id="resolution-select">
                </select>

                <label for="framerate-slider">Framerate: <span id="framerate-value"></span></label>
                <input type="range" id="framerate-slider" min="1" max="1" step="1" value="1"/>
                
                <label for="contrast-slider">Constrast</label>
                <input type="range" id="contrast-slider" min="0" max="1000" step="1" value="0"/>

                <label for="gamma-slider">Gamma</label>
                <input type="range" id="gamma-slider" min="0" max="1000" step="1" value="0"/>
            </div>
            
        </div>

        <!-- Video feed placed beside the controls -->
        <div id="video-container">
            <canvas id="videoCanvas" width="640" height="480"></canvas>
        </div>
    </div>

    <script type="module" src="/static/js/main.js"></script>
</body>
</html>
