<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Video Feed</title>
    <link rel="stylesheet" href="/static/css/styles.css?v=0.08" />
</head>
<body>
    {% include "nav.html" %}
    <h1>Live Video Feed</h1>
    <div id="main-layout">
        <div id="controls">
            <button id="toggle-options">Options ▼</button>
            <div id="options-dropdown">
                {%set resolutions = supported['resolutions']%}
                {%set framerate = supported['framerate']%}

                <label for="resolution-select" id="res-label">Resolution:</label>
                <select id="resolution-select">
                    {%for resolution in resolutions%}
                        <option value="{{resolution.width ~ 'x' ~ resolution.height}}">{{resolution.width ~ ' x ' ~ resolution.height}}</option>
                    {%endfor%}
                </select>

                <label for="framerate-slider">Framerate: <span id="framerate-value">{{framerate}}</span></label>
                <input type="range" id="framerate-slider" min="1" max={{framerate}} step="1" value={{framerate}} />

                <label for="contrast-slider">Contrast</label>
                <input type="range" id="contrast-slider" min="0" max="1000" step="1" value="{{current_constrast}}"/>

                <label for="gamma-slider">Gamma</label>
                <input type="range" id="gamma-slider" min="0" max="1000" step="1" value="{{current_gamma}}"/>
            </div>
            <button id="start-btn">Start Detection</button>
            <button id="video-btn">Raw Video</button>
        </div>
        <div id="video-container">
            <canvas id="videoCanvas" width="640" height="480"></canvas>
        </div>
    </div>
    <script type="module" src="/static/js/main.js"></script>
</body>
</html>